.navbar > a{
    display: inline-block;
    box-sizing: border-box;
    width: 70px;
    padding: 5px;
    margin: 0 6px 6px;
    background: lightblue;
    text-decoration: none;
    text-align: center;
    font-size: min(10vw, 15px) ;
    color: black;
}
  
a.active {
    background: black;
    color: white;
}

.navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
}
